header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  z-index: 5; }
  header .logo {
    position: absolute;
    left: 10px;
    top: 10px; }
    header .logo img {
      width: 50px;
      height: 50px; }

.header__container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1250px;
  position: relative;
  width: 100%; }

nav {
  wdith: 100%;
  height: 100%;
  text-align: center; }
  nav .menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FFE500;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    nav .menu__item {
      margin-top: 100px; }
    nav .menu li {
      padding: 10px; }
    nav .menu a {
      cursor: pointer;
      padding: 10px;
      font-size: 20px;
      color: #474747; }
      nav .menu a:hover {
        background: #e6cf03; }
    nav .menu__dropdown--links {
      padding-left: 20px;
      display: none; }
    nav .menu__dropdown:hover .menu__dropdown--links {
      display: block; }

.burger {
  position: absolute;
  right: 10px;
  display: block;
  width: 45px;
  height: 35px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .burger__toggle {
    position: absolute;
    right: 0px;
    display: block;
    width: 47px;
    height: 35px;
    cursor: pointer;
    opacity: 0;
    z-index: 2; }
  .burger span {
    position: relative;
    float: right;
    clear: both;
    margin-top: 5px;
    margin-right: 9px;
    display: block;
    width: 35px;
    height: 5px;
    background: #FFE500;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .burger span:first-child {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  .burger span:nth-child(3) {
    width: 30px; }
  .burger span:nth-last-child(2) {
    width: 25px;
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%; }
  .burger input:checked ~ span:nth-child(2) {
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0.2, 0.2);
    -ms-transform: rotate(45deg) scale(0.2, 0.2);
    transform: rotate(45deg) scale(0.2, 0.2); }
  .burger input:checked ~ span:nth-child(3) {
    width: 35px;
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(0px, -9px);
    -ms-transform: rotate(45deg) translate(0px, -9px);
    transform: rotate(45deg) translate(0px, -9px);
    background: #474747; }
  .burger input:checked ~ span:nth-last-child(2) {
    width: 35px;
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(2px, 7px);
    -ms-transform: rotate(-45deg) translate(2px, 7px);
    transform: rotate(-45deg) translate(2px, 7px);
    background: #474747; }

.burger input:checked ~ ul {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1; }

@media only screen and (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 50%; }
    nav .menu {
      position: relative;
      top: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      height: 60px;
      width: 600px;
      -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      background: none;
      -webkit-transform-origin: 50% 50% 0;
      -ms-transform-origin: 50% 50% 0;
      transform-origin: 50% 50% 0; }
      nav .menu li {
        display: inline;
        padding: 0 20px; }
      nav .menu__item {
        margin-top: 0; }
      nav .menu a {
        padding: 10px 20px;
        cursor: pointer;
        color: #FFE500; }
        nav .menu a:hover {
          border-radius: 10px;
          background-color: #FFE500;
          color: #474747; }
      nav .menu__dropdown {
        position: relative;
        height: 100%; }
        nav .menu__dropdown--links {
          position: absolute;
          left: 0;
          top: 25px;
          background: #FFE500; }
          nav .menu__dropdown--links li {
            display: block;
            padding: 20px 30px 20px 10px; }
          nav .menu__dropdown--links a {
            color: #474747; }
    nav .burger__toggle {
      display: none; }
    nav .burger span {
      display: none; }
  .menu__dropdown a.menu__hover {
    background: #FFE500;
    color: #474747;
    border-radius: 10px;
    padding: 10px 20px; } }

@media only screen and (min-width: 1204px) {
  nav {
    width: 60%; } }

.home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px; }
  .home .hero {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px; }
    .home .hero h1 {
      color: #fff;
      text-align: center;
      letter-spacing: 10px;
      text-transform: uppercase;
      padding: 20px;
      line-height: 27px; }
      .home .hero h1 font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .home .hero p {
      color: #fff;
      text-align: center;
      font-size: 17px;
      padding-bottom: 30px;
      letter-spacing: 5px;
      line-height: 25px; }
      .home .hero p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .home .hero__button {
      position: relative;
      margin: 0 auto;
      padding: 10px 20px;
      height: 45px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #474747;
      background-color: #FFE500; }
      .home .hero__button font {
        family: Raleway;
        size: 13px;
        weight: 700; }
      .home .hero__button:hover {
        border: solid #FFE500 1px;
        background: none;
        color: #fff; }
  .home .arrow-down {
    display: none;
    background: red;
    width: 50px;
    height: 50px; }
    .home .arrow-down::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

@media only screen and (min-width: 760px) {
  .home {
    height: 600px; } }

.intro {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1250px;
  padding: 40px;
  height: 100%; }
  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .intro__container img {
      max-width: 200px;
      max-height: 200px; }
  .intro__text {
    color: #fff;
    text-align: center;
    color: #474747;
    font-size: 20px;
    font-weight: 500;
    font-weight: 400;
    line-height: 24px;
    max-width: 580px;
    padding: 50px 42px 10px;
    text-align: justify; }
    .intro__text font {
      family: "Raleway", sans-serif;
      weight: 400;
      size: 27px; }

@media only screen and (min-width: 1024px) {
  .intro {
    padding: 150px 10px; } }

.services {
  background: #F4F4F4;
  padding: 30px 0; }
  .services__content {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .services__content--text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .services__content--text h2 {
        color: #fff;
        text-align: center;
        color: #474747;
        padding: 20px;
        text-transform: uppercase; }
        .services__content--text h2 font {
          family: "Raleway", sans-serif;
          weight: 400;
          size: 27px; }
      .services__content--text p {
        color: #fff;
        text-align: center;
        color: #474747;
        font-size: 20px;
        font-weight: 500;
        font-weight: 400;
        line-height: 24px;
        max-width: 600px;
        padding: 10px 20px 30px; }
        .services__content--text p font {
          family: "Raleway", sans-serif;
          weight: 400;
          size: 27px; }
    .services__content--cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .services__content--card {
      width: 270px;
      padding: 10px; }
    .services__content--upper-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 30px 20px 15px;
      margin-bottom: 10px;
      background: #fff;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(37, 39, 42, 0.3);
      box-shadow: 0px 0px 10px 0px rgba(37, 39, 42, 0.3); }
      .services__content--upper-card .web_design {
        padding: 20px 70px 15px; }
      .services__content--upper-card h3 {
        color: #fff;
        text-align: center;
        color: #474747;
        font-size: 20px;
        font-weight: 500;
        padding: 20px 50px 15px;
        text-transform: uppercase;
        line-height: 24px; }
        .services__content--upper-card h3 font {
          family: "Raleway", sans-serif;
          weight: 400;
          size: 27px; }
      .services__content--upper-card p {
        color: #fff;
        text-align: center;
        color: #474747;
        font-size: 20px;
        font-weight: 500;
        font-weight: 400;
        font-size: 16px;
        padding-top: 15px;
        line-height: 24px; }
        .services__content--upper-card p font {
          family: "Raleway", sans-serif;
          weight: 400;
          size: 27px; }
    .services__content--bottom-card {
      margin-bottom: 25px;
      padding: 10px;
      background: #fff;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(37, 39, 42, 0.3);
      box-shadow: 0px 0px 10px 0px rgba(37, 39, 42, 0.3); }
      .services__content--bottom-card div:nth-child(1) p {
        padding-top: 0; }
      .services__content--bottom-card .bar p {
        color: #fff;
        text-align: center;
        color: #474747;
        font-size: 20px;
        font-weight: 500;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        padding: 10px 0 5px; }
        .services__content--bottom-card .bar p font {
          family: "Raleway", sans-serif;
          weight: 400;
          size: 27px; }
      .services__content--bottom-card .bar span {
        position: relative;
        display: block;
        height: 5px;
        width: 100%;
        background: #F4F4F4; }
        .services__content--bottom-card .bar span::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 5px;
          background: #FFE500; }
      .services__content--bottom-card .bar__ps span::before {
        width: 90%; }
      .services__content--bottom-card .bar__ai span::before {
        width: 97%; }
      .services__content--bottom-card .bar__id span::before,
      .services__content--bottom-card .bar__js span::before {
        width: 70%; }
      .services__content--bottom-card .bar__ui span::before {
        width: 96%; }
      .services__content--bottom-card .bar__ux span::before {
        width: 88%; }
      .services__content--bottom-card .bar__responsive span::before {
        width: 95%; }
      .services__content--bottom-card .bar__html span::before,
      .services__content--bottom-card .bar__css span::before {
        width: 98%; }
      .services__content--bottom-card .bar__c span::before {
        width: 85%; }
      .services__content--bottom-card .bar__java span::before {
        width: 86%; }
      .services__content--bottom-card .bar__swift span::before {
        width: 84%; }

@media only screen and (min-width: 542px) {
  .services__content--cards {
    padding-top: 40px; } }

.stats {
  background: #0E0E0E;
  padding: 30px 0; }
  .stats__container {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 30px; }
  .stats__number {
    width: 270px;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff; }
    .stats__number span {
      color: #fff;
      text-align: center;
      font-size: 17px;
      display: block;
      padding-bottom: 5px;
      color: #474747; }
      .stats__number span font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .stats__number p {
      color: #fff;
      text-align: center;
      font-size: 17px;
      color: #474747;
      text-transform: uppercase;
      padding-bottom: 10px; }
      .stats__number p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }

@media only screen and (min-width: 612px) {
  .stats__container {
    padding: 50px 10px 40px 10px; } }

.portfolio {
  padding: 30px 10px; }
  .portfolio__container {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .portfolio__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .portfolio__text h2 {
      color: #fff;
      text-align: center;
      color: #474747;
      padding: 20px;
      text-transform: uppercase; }
      .portfolio__text h2 font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .portfolio__text p {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      font-weight: 400;
      line-height: 24px;
      max-width: 600px;
      padding: 10px 20px 30px; }
      .portfolio__text p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
  .portfolio__gallery {
    padding: 0; }
    .portfolio__gallery--tabs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .portfolio__gallery--tabs ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        border-top: solid 1px #474747; }
      .portfolio__gallery--tabs li {
        padding: 20px;
        width: 150px; }
      .portfolio__gallery--tabs a {
        color: #fff;
        text-align: center;
        color: #474747;
        font-size: 20px;
        font-weight: 500;
        font-weight: 400;
        padding: 20px;
        font-weight: 500; }
        .portfolio__gallery--tabs a font {
          family: "Raleway", sans-serif;
          weight: 400;
          size: 27px; }
      .portfolio__gallery--tabs img {
        padding: 30px; }
    .portfolio__gallery--graphic {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .portfolio__gallery--development {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      border-bottom: solid 1px #474747; }
  .portfolio__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0 auto; }
  .portfolio__image {
    position: relative; }
    .portfolio__image img {
      width: 100%;
      height: 100%; }
    .portfolio__image:hover .portfolio__text-hover {
      display: block; }
    .portfolio__image:hover .portfolio__background-hover {
      display: block; }
  .portfolio__text-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    padding: 20px 30px;
    background: #fff;
    cursor: pointer;
    z-index: 4;
    display: none; }
    .portfolio__text-hover h3 {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      padding: 30px 0 10px; }
      .portfolio__text-hover h3 font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .portfolio__text-hover p {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      font-weight: 400;
      font-size: 16px;
      padding: 30px 0 20px;
      line-height: 24px; }
      .portfolio__text-hover p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
  .portfolio__background-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%;
    height: 90%;
    background: #FFE500;
    opacity: 0.9;
    display: none; }
  .portfolio button {
    position: relative;
    margin: 0 auto;
    padding: 10px 20px;
    height: 45px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #474747;
    background-color: #FFE500;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30px; }
    .portfolio button font {
      family: Raleway;
      size: 13px;
      weight: 700; }
    .portfolio button:hover {
      border: solid #FFE500 1px;
      background: none;
      color: #fff; }
    .portfolio button:hover {
      color: #474747; }

@media only screen and (min-width: 768px) {
  .portfolio {
    padding-bottom: 70px; }
  .portfolio__gallery--tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .portfolio__gallery--graphic {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    border-bottom: solid 1px #474747; }
  .portfolio__gallery--development {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; } }

@media only screen and (min-width: 1300px) {
  .portfolio__images {
    max-width: 1920px; }
  .portfolio__image {
    width: calc(100% / 6); }
  .portfolio__text-hover {
    padding: 0 10px; }
    .portfolio__text-hover h3 {
      padding: 30px 0 0; }
    .portfolio__text-hover p {
      padding: 20px 0 0;
      line-height: 18px; } }

@media only screen and (min-width: 1560px) {
  .portfolio__text-hover {
    padding: 0 10px; }
    .portfolio__text-hover h3 {
      padding: 50px 0 0; }
    .portfolio__text-hover p {
      padding: 20px 10px 0; } }

@media only screen and (min-width: 1720px) {
  .portfolio__text-hover p {
    padding: 30px 10px 0;
    line-height: 22px; } }

.video {
  position: relative;
  text-align: center; }
  .video img {
    max-width: 100%;
    min-height: 300px; }
  .video button {
    position: relative;
    margin: 0 auto;
    padding: 10px 20px;
    height: 45px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #474747;
    background-color: #FFE500;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .video button font {
      family: Raleway;
      size: 13px;
      weight: 700; }
    .video button:hover {
      border: solid #FFE500 1px;
      background: none;
      color: #fff; }

.team {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .team__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .team__text h2 {
      color: #fff;
      text-align: center;
      color: #474747;
      padding: 20px;
      text-transform: uppercase; }
      .team__text h2 font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .team__text p {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      font-weight: 400;
      line-height: 26px;
      max-width: 600px;
      padding: 10px 20px 30px; }
      .team__text p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
  .team__people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .team__person {
    margin-top: 10px;
    width: 270px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(37, 39, 42, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(37, 39, 42, 0.3); }
    .team__person--image {
      position: relative; }
      .team__person--image img {
        width: 100%;
        height: 100%; }
      .team__person--image h3 {
        color: #fff;
        text-align: center;
        color: #474747;
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        left: 0;
        bottom: 3px;
        right: 0;
        padding: 20px 0;
        letter-spacing: 4px;
        background: rgba(255, 229, 0, 0.6); }
        .team__person--image h3 font {
          family: "Raleway", sans-serif;
          weight: 400;
          size: 27px; }
    .team__person p {
      position: relative;
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      font-weight: 400;
      font-size: 16px;
      padding: 20px 20px 30px;
      line-height: 22px; }
      .team__person p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
      .team__person p::before {
        content: url("../img/axes-icon.png");
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0.7; }

@media only screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px; }
  __people {
    padding-top: 60px; } }

.testimonials {
  position: relative; }
  .testimonials__content {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px; }
  .testimonials__text {
    padding: 20px 10px; }
  .testimonials__image {
    position: relative; }
    .testimonials__image img {
      width: 100%;
      height: 100%; }
    .testimonials__image p {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      font-weight: 400;
      font-size: 16px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px 70px;
      color: #fff;
      text-align: left;
      line-height: 22px;
      background: #0E0E0E; }
      .testimonials__image p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
  .testimonials__quote {
    padding: 40px 50px 60px; }
    .testimonials__quote p {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      font-weight: 400;
      font-size: 16px;
      max-width: 420px;
      line-height: 24px;
      text-align: center;
      padding-bottom: 20px; }
      .testimonials__quote p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .testimonials__quote h4 {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      font-weight: 400;
      font-size: 16px;
      font-weight: 700; }
      .testimonials__quote h4 font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .testimonials__quote--left {
      padding: 40px 20px 0; }
    .testimonials__quote--right {
      padding: 0 20px 60px; }
  .testimonials__text--left h4 {
    text-align: left; }
  .testimonials__text--right h4 {
    text-align: right; }
  .testimonials__background {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 30%;
    background: #FF9F00;
    z-index: -3; }

@media only screen and (min-width: 768px) {
  .testimonials__content {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .testimonials__quote--left {
    padding: 40px 50px 60px; }
  .testimonials__quote--right {
    padding: 40px 50px 60px; } }

@media only screen and (min-width: 1024px) {
  .testimonials__image:hover p {
    display: block; } }

@media only screen and (min-width: 1300px) {
  .testimonials__image:hover p {
    display: block;
    padding: 60px 70px; } }

.footer {
  background: #0E0E0E; }
  .footer li {
    display: block; }
  .footer a {
    display: block; }
  .footer__content {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px; }
  .footer__list {
    padding: 20px; }
    .footer__list--one p {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      text-align: left;
      padding: 20px 0;
      max-width: 370px; }
      .footer__list--one p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .footer__list--one p:nth-last-child(1) {
      padding-top: 0; }
    .footer__list--two p {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      text-align: left;
      padding: 0 10px 10px; }
      .footer__list--two p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .footer__list--two a {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      font-weight: 400;
      font-size: 16px;
      padding: 10px;
      text-align: left;
      color: #fff;
      cursor: pointer; }
      .footer__list--two a font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
      .footer__list--two a:hover {
        background: #474747; }
    .footer__list--four p {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      text-align: left;
      padding: 0 0 10px; }
      .footer__list--four p font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .footer__list--four p:nth-child(2) {
      color: #fff;
      text-align: center;
      color: #474747;
      font-size: 20px;
      font-weight: 500;
      font-weight: 400;
      font-size: 16px;
      max-width: 370px;
      color: #fff;
      text-align: left;
      padding: 10px 0; }
      .footer__list--four p:nth-child(2) font {
        family: "Raleway", sans-serif;
        weight: 400;
        size: 27px; }
    .footer__list--four button {
      position: relative;
      margin: 0 auto;
      padding: 10px 20px;
      height: 45px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #474747;
      background-color: #FFE500;
      text-transform: lowercase;
      letter-spacing: normal;
      margin: 20px 0;
      padding: 10px 60px;
      background: #FF9F00;
      border-radius: 20px; }
      .footer__list--four button font {
        family: Raleway;
        size: 13px;
        weight: 700; }
      .footer__list--four button:hover {
        border: solid #FFE500 1px;
        background: none;
        color: #fff; }
    .footer__list--social {
      margin-top: 10px; }
      .footer__list--social li {
        display: inline-block;
        padding: 10px 5px; }
      .footer__list--social a {
        display: inline;
        background: #FDFDFD;
        padding: 16px 10px 6px;
        border-radius: 50%; }
        .footer__list--social a img {
          width: 20px;
          height: 20px; }

@media only screen and (min-width: 592px) and (max-width: 1200px) {
  .footer__list {
    width: calc(100% / 2); } }
