@import 'base/colors';
@import 'base/fonts';
@import 'base/mixins';

// HEADER AND NAVIGATION
header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  // background: $secondary-color;
  z-index: 5;
  .logo {
    position: absolute;
    left: 10px;
    top: 10px;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

.header__container {
 @include container;
 position: relative;
 width: 100%;
}

nav {
  wdith: 100%;
  height: 100%;
  text-align: center;
  .menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $primary-color;
    transform-origin: 0% 0%;
    transform: translate(100%, 0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  &__item {
      margin-top: 100px;
    }
    li {
      padding: 10px;
    }
    a {
      cursor: pointer;
      padding: 10px;
      font-size: 20px;
      color: $secondary-color;
      &:hover {
        background: rgb(230, 207, 3);
      }
    }
    &__dropdown {
      &--links {
      padding-left: 20px;
      display: none;
     }
     &:hover .menu__dropdown--links {
       display: block;
     }
    }
  }
}
  .burger {
    position: absolute;
    right: 10px;
    display: block;
    width:45px;
    height: 35px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    &__toggle {
       position: absolute;
       right: 0px;
       display: block;
       width: 47px;
      height: 35px;
       cursor: pointer;
       opacity: 0;
       z-index: 2;
     }
    span {
      position: relative;
      float: right;
      clear: both;
      margin-top: 5px;
      margin-right: 9px;
      display: block;
      width: 35px;
      height: 5px;
      background: $primary-color;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.00)
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    span:first-child {
         transform-origin: 0% 0%;
       }
    span:nth-child(3) {
        width: 30px;
      }
    span:nth-last-child(2) {
        width: 25px;
        transform-origin: 0% 100%;
      }
     input:checked ~ span:nth-child(2) {
           opacity: 0;
           transform: rotate(45deg) scale(0.2, 0.2);
         }

     input:checked ~ span:nth-child(3){
        width: 35px;
         opacity: 1;
         transform: rotate(45deg) translate(0px, -9px);
         background: $secondary-color;
       }

     input:checked ~ span:nth-last-child(2) {
           width: 35px;
           opacity: 1;
           transform: rotate(-45deg) translate(2px, 7px);
           background: $secondary-color;
      }
}

  .burger input:checked ~ ul
   {
     transform:  scale(1.0, 1.0);
     opacity: 1;
   }


@media only screen and (min-width: 1024px) {
   header {
     display: flex;
     justify-content: space-between;
   }
   nav {
     position: relative;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: flex-end;
     width: 50%;
     .menu {
       position: relative;
       top: 12px;
       display: flex;
       justify-content: flex-start;
       height: 60px;
       width: 600px;
       transform: translate(0%, 0%);
       background: none;
       transform-origin: 50% 50% 0;
       li {
         display: inline;
         padding: 0 20px;
       }
       &__item {
         margin-top: 0;
       }
       a {
         padding: 10px 20px;
         cursor: pointer;
         color: $primary-color;
         &:hover {
           border-radius: 10px;
           background-color: $primary-color;
           color: $secondary-color;
         }
       }
         &__dropdown {
           position: relative;
           height: 100%;
           &--links {
             position: absolute;
             left: 0;
             top: 25px;
             background:  $primary-color;
             li {
               display: block;
               padding: 20px 30px 20px 10px;
             }
             a {
               color: $secondary-color;
             }
           }
         }
   }
    .burger  {
         &__toggle {
         display: none;
         }
         span {
           display: none;
         }
       }
    }
    .menu__dropdown a.menu__hover {
      background: $primary-color;
      color: $secondary-color;
      border-radius: 10px;
      padding: 10px 20px;
    }
}

@media only screen and (min-width: 1204px) {
  nav {
     width: 60%;
  }
}
