// BUTTONS
@mixin button {
  position: relative;
  margin: 0 auto;
  width: 170px;
  height: 45px;
  font {
    family: Raleway;
    size: 13px;
    weight: 700;
  }
  color: $secondary-color;
  background-color: $primary-color;
}

@mixin container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1250px;
}
